:root {
  --c-pale-blue: hsl(225, 100%, 94%);
  --c-bright-blue: #3829e0;
  --c-blue-100: hsl(225, 100%, 98%);
  --c-blue-300: hsl(224, 23%, 55%);
  --c-blue-800: hsl(223, 47%, 23%);
  --c-white: hsl(0, 0%, 100%);
  --f-color: var(--c-blue-800);
  --f-family: "Red Hat Display", sans-serif;
  --f-line-height: 26px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/pattern-background-mobile.svg), var(--c-pale-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--f-color);
  position: relative;
  width: 100%;
  min-height: 100vh;
  font-family: var(--f-family);
  font-size: 16px;
  font-weight: 500;
  line-height: var(--f-line-height);
  display: grid;
  place-items: center;
}

img {
  width: 100%;
}

.container {
  padding: 1.5rem;
}

.card {
  width: 100%;
  max-width: 375px;
  border-radius: 1.25rem;
  overflow: hidden;
  background-color: var(--c-white);
}

.card-content {
  padding: 2rem 1.5rem;
  text-align: center;
}

.card-content .card-title {
  font-size: 1.375rem;
  font-weight: 900;
  margin-bottom: 1.25rem;
}

.card-content .card-description {
  margin-bottom: 1.25rem;
  color: var(--c-blue-300);
}

.card-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--c-blue-100);
  margin-bottom: 1.5rem;
  border-radius: 1.25rem;
}

.card-plan-details {
  display: flex;
  align-items: center;
  text-align-last: left;
  gap: 1rem;
}

.card-plan-details h3 {
  font-size: 1rem;
  font-weight: 700;
}

.card-plan-details span {
  color: var(--c-blue-300);
}

.card-plan-preview svg {
  width: 3rem;
  height: 3rem;
}

.card-change {
  color: var(--c-bright-blue);
  font-size: 13px;
  font-weight: 700;
}

.card-btn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btn {
  --padding-x: ;
  --padding-y: ;
  --bg-color: ;
  --bg-color-hover: ;
  --txt-color: ;
  --text-color-hover: ;
  --box-shadow: ;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--bg-color);
  color: var(--txt-color);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.75;
  color: var(--txt-color-hover);
}

.btn-primary {
  --padding-x: 0;
  --padding-y: 12px;
  --bg-color: var(--c-bright-blue);
  --bg-color-hover: ;
  --txt-color: var(--c-white);
  --txt-color-hover: ;
  --box-shadow: 0px 10px 15px 5px rgba(56, 41, 224, 0.25);
}

.btn-off {
  --padding-x: 0;
  --padding-y: 12px;
  --bg-color: ;
  --bg-color-hover: ;
  --txt-color: var(--c-blue-300);
  --txt-color-hover: var(--c-dark-blue);
  --box-shadow: ;
}

.attribution {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-size: 11px;
  color: var(--f-color);
}
.attribution a {
  color: var(--c-bright-blue);
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 750px) {
  body {
    background: url(../images/pattern-background-desktop.svg),
      var(--c-pale-blue);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .card {
    max-width: 450px;
  }
  .card-content {
    padding: 3rem 3rem 2rem;
  }
  .card-content .card-title {
    font-size: 1.75rem;
  }
  .card-content .card-description {
    font-size: 1.125rem;
  }

  .card-plan {
    padding: 1.4rem;
  }

  .card-plan-preview {
    font-size: 17px;
  }
  .card-change {
    font-size: 15px;
  }
  .card-btn {
    gap: 1rem;
  }
}
